<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NPgisMapDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0426A1F51E2C6A77009DB5A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0426A20E1E2C6A77009DB5A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0426A2191E2C6A77009DB5A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
